.main-content {
  padding: 1rem;
  height: 100vh;
  margin-left: 20vw; /* Space for the expanded sidebar */
  width: 80vw;
  transition: margin-left 0.3s ease, width 0.3s ease; /* Match the transition effect */
}

.main-content.expanded {
  margin-left: 5vw; /* Space for the collapsed sidebar */
  width: 95vw;
}

/* Default state when sidebar is not collapsed */
.main-content {
  margin-left: 20vw; /* Space for the expanded sidebar */
  width: 80vw;
}
