.btn-primary {
    background-color: #1d4344;
    border-radius: 5px;
    color: white;
    transition: background-color 0.4s ease;
    border: none;
    padding: 5px;
}

.btn-primary:hover {
    background-color: #3e8e91;
}